@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  color: #3b3b3b;
  background-color: #fff4f9;
}

.loginBox,
.redefinirSenhaBox,
.cadastro-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
}

.loginContent,
.redefinirSenhaContent {
  width: 55%;
  max-width: 1200px;
  height: 85%;
  background-color: #fff4f9;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.3);
}

.banner-container {
  width: 50%;
}

.banner-container img {
  width: 85%;
  border-radius: 15px;
  margin: 0 0 0 32px;
}
.loginForm,
.redefinirSenhaForm {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}

.loginForm .titulo,
.redefinirSenhaForm .titulo,
.cadastro-box .titulo {
  display: flex;
  gap: 5px;
  margin-bottom: 30px;
  font-size: 3.5rem;
}

.titulo h1 {
  font-size: 4rem;
}

.titulo h1:nth-of-type(2) {
  color: #ba1644;
}

.login-inputs,
.redefinirSenha-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-inputs span,
.redefinirSenha-inputs span {
  margin-bottom: 8px;
  font-weight: bold;
}

.login-inputs input,
.redefinirSenha-inputs input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.5rem;
}

.loginForm .submitButton,
.redefinirSenhaForm .submitButton,
.cadastro-box .submitButton {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm .submitButton button,
.redefinirSenhaForm .submitButton button,
.cadastro-box .submitButton button {
  width: 100%;
  padding: 15px;
  background-color: #ba1644;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
}

.cadastro-box .submitButton button {
  width: 35% !important;
  font-size: 1.8rem !important;
}

.loginForm .submitButton button:hover,
.redefinirSenhaForm .submitButton button:hover,
.cadastro-box .submitButton button:hover {
  background-color: #9f123a;
}

.divider {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.divider hr {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
  border: none;
}

.divider span {
  margin: 0 10px;
  font-weight: bold;
  color: #ba1644;
  font-size: 1.5rem;
}

.cadastro-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.cadastro-link a {
  color: #ba1644;
  text-decoration: none;
  font-weight: bold;
}

.cadastro-link a:hover {
  text-decoration: underline;
}

.esqueceu-senha {
  width: 100%;
  text-align: right;
  margin-top: 12px;
}

.esqueceu-senha a {
  color: #aaa6a6;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #fff4f9;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.3);
  z-index: 100;
}
nav .logo {
  display: flex;
  align-items: center;
  margin: 0 0 0 24px;
}
.logo .menu-icon {
  color: #333;
  font-size: 24px;
  margin-right: 30px;
  cursor: pointer;
}
.logo .logo-name {
  color: #333;
  font-size: 22px;
  font-weight: 500;
}
nav .sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 260px;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
  z-index: 100;
}
nav.open .sidebar {
  left: 0;
}
.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}
.sidebar-content .list {
  list-style: none;
}
.list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}
.lists .nav-link:hover {
  background-color: #4070f4;
}
.nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #707070;
}
.nav-link .link {
  font-size: 16px;
  color: #707070;
  font-weight: 400;
}
.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
  color: #fff;
}
.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
nav.open ~ .overlay {
  opacity: 1;
  left: 260px;
  pointer-events: auto;
}

.logo img {
  width: 150px;
}

.slogan h2 {
  font-size: 1.5rem;
  margin: 0 0 0 20px;
}
.slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.error-message {
  color: #e84c3d;
  font-size: 1.4rem;
  margin: 0 0 10px 0;
}

.cadastro-form .error-message {
  color: #e84c3d;
  font-size: 1rem !important;
  margin: 0 !important;
}

.success-message {
  color: #18bb9c;
  font-size: 1.4rem;
  margin: 0 0 10px 0;
}

.warning-message {
  color: #f39c11;
  font-size: 1.4rem;
  margin: 0 0 10px 0;
}

.information-message {
  color: #3598db;
  font-size: 1.4rem;
  margin: 0 0 10px 0;
}

.acesso-negado {
  font-size: 40px;
  color: red;
  font-weight: bold;
}
.container-acesso-negado {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobre-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f5f5f5;
  height: 100vh;
  width: 100%;
}

.sobre-container .content {
  max-width: 630px;
  margin-right: 40px;
}

.sobre-container .content h1 {
  color: #c80e43;
  font-size: 5rem;
  margin-bottom: 20px;
  text-align: center;
}

.sobre-container .content p,
.sobre-container .content p span {
  color: #333;
  line-height: 1.6;
  margin-bottom: 15px;
  font-size: 2.2rem;
  text-align: justify;
}
.sobre-container .content p span {
  color: #c80e43;
  font-weight: bold;
}

.sobre-container .content p::first-letter {
  margin-left: 20px;
}

.sobre-container .content .buttons {
  display: flex;
  gap: 40px;
  margin-top: 35px;
  justify-content: center;
  align-items: center;
}

.sobre-container .content .buttons a {
  width: 40%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  text-decoration: none;
}

.sobre-container .acessar-btn {
  background-color: #d02b3b;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.sobre-container .cadastrar-btn,
.home-page-container .content-box .cadastrar-btn {
  background-color: white;
  color: #d02b3b;
  border: 2px solid #d02b3b;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.sobre-container .acessar-btn:hover {
  background-color: #c02636;
  transform: scale(1.01);
  transition: all 0.1s ease-in-out;
}

.sobre-container .cadastrar-btn:hover,
.home-page-container .content-box .cadastrar-btn:hover {
  background-color: #e6e6e6;
  transform: scale(1.02);
  transition: all 0.1s ease-in-out;
}

.sobre-container .sobre-image img {
  max-width: 510px;
  height: auto;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 0 0 0 40px;
}

.not-found-page-box {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.not-found-page-box h1 {
  font-size: 10rem;
}
.not-found-page-box h2,
.not-found-page-box p {
  padding-bottom: 20px;
}

.cadastro-box {
  width: 55%;
  max-width: 1200px;
  height: 90%;
  background-color: #fff4f9;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.3);
  padding: 100px;
  flex-direction: column;
}

.cadastro-box .select-account {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0 20px 0;
}
.cadastro-box label {
  padding-bottom: 10px;
}

.cadastro-box .select-account .account-radio label {
  padding: 0 10px 0 4px;
}

.sublines {
  color: #aaa6a6;
  font-size: 1.2rem;
}

.sublines u {
  cursor: pointer;
}

.sublines .checkbox-terms #terms {
  margin: 0 5px 0 1px;
}

.sublines p {
  padding: 10px 0 8px 0px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-group label {
  font-size: 14px;
  color: #333;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 14px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.cadastro-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 35px;
  row-gap: 10px;
  width: 100%;
}

.cadastro-container form {
  width: 100%;
}

.cadastro-container .submitButton {
  padding: 20px 0 0 0 !important;
}

.home-page-container {
  width: 100%;
  height: 100%;
}

.home-page-container header {
  width: 100%;
  height: 820px;
  position: relative;
  top: 80px;
}

.home-page-container header .background-color {
  width: 100%;
  height: 490px;
  background-color: #dea1a1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.home-page-container header .home-page-banner {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-55%);
  z-index: 10;
}

.home-page-container header .home-page-banner img {
  width: 80%;
  min-width: 640px;
  min-height: 470px;
}

.home-page-container .content-box {
  z-index: 20;
  position: absolute;
  width: 450px;
  top: 360px;
  left: 50%;
  transform: translateX(-10%);
  height: 350px;
  background-color: #fff4f9;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  text-align: justify;
  font-weight: 500;
  box-shadow: 12px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.home-page-container .content-box span,
.home-page-container .content-box .label-button {
  color: #c45455;
}

.home-page-container .content-box p {
  padding: 0 0 15px 0;
}

.home-page-container .content-box img {
  width: 45px;
  padding: 0 0 10px 0;
}

.home-page-container .content-box .cadastrar-btn {
  width: 35%;
  border-width: 1.9px;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.box-btns-to-service .btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff4f9;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.3);
}

.box-btns-to-service .btns .btn {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  margin: 40px;
  border-radius: 15px;
  box-shadow: 10px 9px 15px -3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.box-btns-to-service .btns .btn:hover {
  background-color: #e6e6e6;
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
}

.box-btns-to-service .btns .btn img {
  width: 180px;
}

.box-btns-to-service .btns .btn span {
  padding: 30px 0 0 0;
  font-size: 1.6rem;
  font-weight: 500;
}

.home-page-container main {
  margin: 60px 0 0 0;
}
